@media (max-width: 618px) { // Mobile
  .page {
    -webkit-overflow-scrolling: touch;
  }
  .page__section--content {
    padding: 0 2.5pc;
    user-select: none;
  }
  .profile {
    &-picture {
      width: 150px !important;
      height: 150px !important;
    }
  }
}

@media (min-width: 618px) and (max-width: 768px) { // Tablet
  .page__section--content {
    padding: 0 5pc;
    user-select: none;
  }
}

@media (min-width: 768px) { // Laptop
  .page__section--content {
    padding: 0 7.5pc;
  }
}

@media (min-width: 1024px) { // Desktop
  .page__section--content {
    padding: 0 15pc;
  }
}

/* fix iOS bug not displaying 100vh correctly */
/* ipad */
@media only screen and (min-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.page {
		height: 768px;
	}
}
@media only screen and (min-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.page {
		height: 1024px;
	}
}
/* iphone5 */
@media only screen and (min-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
	.page {
		height: 320px;
	}
}
@media only screen and (min-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
	.page {
		height: 568px;
	}
}
/* iPhone 4 */
@media only screen and (min-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	.page {
		height: 320px;
	}
}
@media only screen and (min-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	.page {
		height: 480px;
	}
}