@media (max-width: 618px) { // Mobile
  .page {
    -webkit-overflow-scrolling: touch;
  }
  .page__section--content {
    padding: 0 2.5pc;
    user-select: none;
  }
  .profile {
    &-picture {
      width: 150px !important;
      height: 150px !important;
    }
  }
}

@media (min-width: 618px) and (max-width: 768px) { // Tablet
  .page__section--content {
    padding: 0 5pc;
    user-select: none;
  }
}

@media (min-width: 768px) { // Laptop
  .page__section--content {
    padding: 0 7.5pc;
  }
}

@media (min-width: 1024px) { // Desktop
  .page__section--content {
    padding: 0 15pc;
  }
}

@media (min-width: 1920px) { // Desktop
  .page__section--content {
    padding: 0 20pc;
  }
}

