.margin {
  &--remove {
    margin: 0;
    &-top {
      margin-top: 0;
    }

    &-bottom {
      margin-bottom: 0;
    }

    &-left {
      margin-left: 0;
    }

    &-right {
      margin-right: 0;
    }

    &-top-bottom {
      margin-top: 0;
      margin-bottom: 0;
    }
    
    &-left-right {
      margin-left: 0;
      margin-right: 0;
    }
  }
  &--add {
    &-top {
      margin-top: 10px;
    }
    &-bottom {
      margin-bottom: 10px;
    }
  }
}

.padding {
  &--remove {
    padding: 0;
    &-top {
      padding-top: 0;
    }

    &-bottom {
      margin-bottom: 0;
    }

    &-left {
      margin-left: 0;
    }

    &-right {
      margin-right: 0;
    }

    &-top-bottom {
      padding-top: 0;
      padding-bottom: 0;
    }

    &-left-right {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.shift {
  &--text {
    &-left {
      text-align: left;
    }

    &-right {
      text-align: right;
    }
  }
}

.cursor {
  &-default {
    &:hover {
      cursor: default;
    }
  }
  &-pointer {
    &:hover {
      cursor: pointer;
    }
  }
}

.icon {
  &--small {
    width: 20px;
    height: 20px;
  }
}
