.skills {
  outline: 1px solid silver;
  &--container {
    display: flex;
    justify-content: center;
  }

  height: 245px;
  width: 50%;
  background-color: black;
  overflow-y: scroll;
  color: white;

  ul {
    padding: 0;
    text-align: left !important;
    list-style: none !important;
  }

  li {
    margin-left: 6px;
    padding: 6px;
  }
}