@import './imports/typography';
@import './imports/animations';
@import './imports/mediaQueries';
@import './imports/easterEggs';

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin: 0;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  text-align: center;
  overflow: hidden;

  &:root, #root {
    h2 {
      user-select: none;
    }
    
    a {
      color: #FFF;
      text-decoration: inherit;
    }
  
    ul {
      all: unset;
    }
  
    .site-nav {
      position: sticky;
      background-color: #333;
      top: 0;
      padding: 14px;
      justify-content: space-between;
      z-index: 100;
      text-align: left;
      user-select: none;

      .tab {
        color: #FFF;
        padding: 16px;
        font-weight: 500;
        &:hover {
          background-color: rgba(0, 0, 0, 0.075);
          cursor: pointer;
        }
        &:active {
          background-color: rgba(0, 0, 0, 0.15);
        }
        &.activated {
          background-color: grey;
          pointer-events: none;
        }
      }
    }

    .page {
      height: calc(80vh - 100px);
      padding: 28px 0;
      overflow-y: auto;

      &__header {
        position: sticky;
        top: 0;
        margin: 0 !important;
        padding: 20px;
        background-color: rgb(46, 45, 47);
        z-index: 100;
      }

      &__section {
        padding: 0 10px;
        &--content {
          line-height: 1.35;
        }
      }

      &__footer {
        position: sticky;
        bottom: 0;
        padding-top: 16px;
        padding-bottom: 0.25px;
        background-color: #333;
        color: #FFF;
        text-align: center;
        user-select: none;
        z-index: 100;
      }
    }

    .profile {
      &-picture {
        width: 175px;
        height: 175px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid white;
      }
    }
  
    ::-webkit-scrollbar {
      width: 8px;
      background-color: #555;
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: #F1F1F1;
      &:hover {
        background-color: #D4D4D4;
      }
      &:active {
        background-color: #C0C0C0;
      }
    }

    @import './imports/utilities';
  }
}

