@import './imports/_typography';

body {
  height: fit-content;
  width: 100%;
  margin: 0;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  text-align: center;
  overflow: hidden;

  &:root, #root {
    a {
      color: #FFF;
      text-decoration: inherit;
    }
  
    ul {
      all: unset;
    }
  
    .page {
      height: calc(90vh - 100px);
      padding: 28px 0;
      overflow-y: auto;

      &__header {
        margin: 0 !important;
        padding: 20px;
        background-color: rgb(46, 45, 47);
      }

      &__section {
        padding: 0 10px;
        &--content {
          line-height: 1.35;
        }
      }
        
      @import './imports/_mediaQueries';

    }
  
    .site-nav {
      position: sticky;
      display: flex;
      background-color: #333;
      top: 0;
      padding: 14px;
      justify-content: space-between;
      z-index: 100;
      user-select: none;
      .tab {
        color: #FFF;
        padding: 16px;
        font-weight: 500;
        &:hover {
          background-color: rgba(0, 0, 0, 0.075);
          cursor: pointer;
        }
        &:active {
          background-color: rgba(0, 0, 0, 0.15);
        }
        &.activated {
          background-color: grey;
          pointer-events: none;
        }
      }
    }
  
    ::-webkit-scrollbar {
      width: 8px;
      background-color: #555;
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: #F1F1F1;
      &:hover {
        background-color: #D4D4D4;
      }
      &:active {
        background-color: #C0C0C0;
      }
    }

    @import './imports/_utilities';

  }
}
