@import './typography';

body {
  margin: 0;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  text-align: center;
  overflow-y: hidden;

  &:root, #root {
    a {
      color: #FFF;
      text-decoration: inherit;
    }
  
    ul {
      all: unset;
    }
  
    .page {
      height: calc(90vh - 100px);
      padding: 28px 0;
      overflow-y: auto;
      &--header {
        margin: 0 !important;
        padding: 20px;
        background-color: rgb(46, 45, 47);
      }
      &--section {
        margin-left: 250px;
        margin-right: 250px;
        line-height: 1.35;
      }
    }
  
    .site-nav {
      display: flex;
      background-color: #333;
      justify-content: space-between;
      padding: 14px;
      .tab {
        color: #FFF;
        padding: 16px;
        font-weight: 500;
        cursor: pointer;
        &:hover {
          background-color: rgba(0, 0, 0, 0.075);
        }
        &:active {
          background-color: rgba(0, 0, 0, 0.15);
        }
        &.activated {
          background-color: grey;
        }
      }
    }
  
    ::-webkit-scrollbar {
      width: 8px;
      background-color: #555;
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: #F1F1F1;
      &:hover {
        background-color: #D4D4D4;
      }
      &:active {
        background-color: #C0C0C0;
      }
    }

    @import './utilities';

  }
}
